@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}

.image-slider{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: moving 14s linear infinite;
}

@keyframes moving {
   0%{
    transform: perspective(1000px) rotateY(0deg);
   }

   100%{
    transform: perspective(1000px) rotateY(360deg);
   }
}

.image-slider span {
  position : absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transition-property: rotateY(45deg) translateZ(350px) ;
}

.image-slider span img{
  position:absolute;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 2s;

}

/* Default styles */
/* Default styles */
.moving-div {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: relative;
  top: 0;
  animation: move 4s linear infinite;
}

/* Keyframes animation */
@keyframes move {
  0%, 100% {
    top: 0; /* Starting position */
  }
  50% {
    top: 100px; /* Move down */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .moving-div {
    animation: move-small-screen 4s linear infinite;
  }

  @keyframes move-small-screen {
    0%, 100% {
      top: 0; /* Starting position */
    }
    50% {
      top: -100px; /* Move up */
    }
  }
}



